<br />
<div class='outer'>

  <h1>Mon compte</h1>
  <p><em>Pseudo:</em> {{_pseudo}}</p>
  <p><em>Mail:</em> {{_mail}}</p>

  <div class='box' (click)="onClick('info')">Modifier informations</div>
  <div class='box' (click)="onClick('password')">Modifier mot de passe</div>

  <br />
  <div class='box'>Supprimer votre compte</div>

</div>

<div *ngIf="_changeInfo==true" class="modif">
  <p>Nouveau pseudo:
    <input #newPseudo />
  </p>
  <p>Nouveau mail:
    <input #newMail />
  </p>
  <div class='box' (click)="newInfo(newPseudo.value,newMail.value)">
    Enregistrer
  </div>
</div>

<div *ngIf="_changePassword==true" class="modif">
  <p>Ancien mot de passe:
    <input #oldPassword type="password" />
  </p>
  <p>Nouveau mot de passe:
    <input #newPassword type="password" />
  </p>
  <p>Confirmer le mot de passe:
    <input #confirmPassword type="password" />
  </p>
  <div class='box' (click)="newPassword(oldPassword.value,newPassword.value,confirmPassword.value)">
    Enregistrer
  </div>
</div>
