h1 {
  clear: both;
}

.outer {
  list-style-type: none;
  text-align: center;
}

button {
  display: inline-block;
  border: none;
  padding: 1%;
  margin: 1%;
  background-color: #ddd;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #999;
}

button:active {
  color: rgb(114, 114, 114);
}

button.selected {
  background-color: rgb(80, 80, 80);
  color: rgb(255, 255, 255)
}


.modif {
  list-style-type: none;
  text-align: left;
  margin-left: 38%;
  margin-top: 4%;
}

.modif input {
  position: absolute;
  left: 53%
}

.modif .box {
  margin-left: 0%;
}
