<br />
<div class='outer'>

  <h1>Mon compte</h1>
  <p><em>Pseudo:</em> {{_pseudo}}</p>
  <p><em>Mail:</em> {{_mail}}</p>

  <button [ngClass]="_changeInfo ? 'selected' : ''" (click)="onClick('info')">Modifier informations</button>
  <button [ngClass]="_changePassword ? 'selected' : ''" (click)="onClick('password')">Modifier mot de passe</button>

  <br />
  <button>Supprimer votre compte</button>

</div>

<div *ngIf="_changeInfo==true" class="modif">
  <p>Nouveau pseudo:
    <input #newPseudo />
  </p>
  <p>Nouveau mail:
    <input #newMail />
  </p>
  <button (click)="newInfo(newPseudo.value,newMail.value)">
    Enregistrer
  </button>
</div>

<div *ngIf="_changePassword==true" class="modif">
  <p>Ancien mot de passe:
    <input #oldPassword type="password" />
  </p>
  <p>Nouveau mot de passe:
    <input #newPassword type="password" />
  </p>
  <p>Confirmer le mot de passe:
    <input #confirmPassword type="password" />
  </p>
  <button (click)="newPassword(oldPassword.value,newPassword.value,confirmPassword.value)">
    Enregistrer
  </button>
</div>
