<div class="montserrat">
  <app-headers></app-headers>
  <div class='main'>
    <router-outlet></router-outlet>
  </div>
  <div class='bottom' class='footer'>
    <div class='links'>
      <h2>Liens</h2>
    <img class ='link' src="assets/img/LogoLS2N.PNG" height='60'>
    <img class = 'link' src="assets/img/LogoLS2N.PNG" height='60'>
    <img class = 'link' src="assets/img/LogoLS2N.PNG" height='60'>
    <img class='link' src="assets/img/LogoLS2N.PNG" height='60'>
    </div>
    <div class='descri'>
    <h2>A propos de nous</h2>
    <p>Ce site a été développé dans le cadre du programme Centrale Digital Lab de l'Ecole Centrale de Nantes. </p>
    <p>Les trois étudiants en Machine Learning Gauthier Lacroix, Erick Ah-Mouck et Alexandre Féron ont élaboré, en colaboration avec les chercheurs du LS2N, cette interface pour permettre d'exploiter facilement leurs algorithmes d'apprentissage.</p>
    <p>Ce site est basé sur le challenge d'exploitation de données génétique DREAM4.</p>
    <p>Tu disposes de pointeurs pour plus d'information sur les différentes parties prenantes de ce projet.</p>
    </div>
  </div>
</div>
