.left{
    width:75%;
    float:left;
    font-family: 'Montserrat';

}
.right{
    font-family: 'Montserrat';
    width:25%;
    float:right;
    background-color: #ddd;
    height:300px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  select{
    font-family: 'Montserrat'; 
}
button{
    height: 25px;
    font-family: 'Montserrat';
    border-radius: 5px;
    border:0 none;
    background-color: #ccc;
    cursor: pointer;

}
button:hover{
        background-color: #aaa;
    }