<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div *ngIf="connected">
  <div class="Website-title">
    <img class='logo' src="assets/img/LogoCGL.PNG">
    <img class='logo2' src="assets/img/LogoCGL.PNG">

    <a class="no-style" routerLink="/">Bienvenue au Centrale Genetic Lab!</a>
    <p class="CGL-Description">L'outil disruptif de Machine Learning de données génétiques</p>
  </div>

  <div id="navbar" class="navbar" #stickyMenu [class.sticky]="sticky">
    <a routerLink="/mainPage" routerLinkActive='selected'>
      <i class="fa fa-fw fa-home"></i> Accueil
    </a>
    <a routerLink="/account" routerLinkActive='selected'>Mon compte</a>
    <!--<a routerLink="/data" routerLinkActive='selected'>Mes données</a>-->
    <a routerLink="/history" routerLinkActive='selected'>Mon historique</a>
    <div class=right (click)="logout()">Déconnexion</div>
    <img src="assets/img/uk_flag.png" routerLink="/en">
    <div class=right (click)="test()">TEST</div>
  </div>
</div>

<div *ngIf="!connected">
  <div class="Website-title">
    <script>
      console.log('coucou')

    </script>
    <img class='logo' src="assets/img/LogoCGL.PNG">
    <img class='logo2' src="assets/img/LogoCGL.PNG">
    <a class="no-style" routerLink="/guest">Bienvenue au Centrale Genetic Lab!</a>
    <p class="CGL-description">L'outil disruptif de Machine Learning de données génétiques</p>
  </div>

  <div id="navbar" class="navbar" #stickyMenu [class.sticky]="sticky">
    <a routerLink="/guest" routerLinkActive='selected'>
      <i class="fa fa-fw fa-home"></i> Accueil
    </a>
    <a class=right routerLink="/signup" routerLinkActive='selected'>
      <i class="fa fa-user-plus"></i> Inscription
    </a>
    <a class=right routerLink="/login" routerLinkActive='selected'>
      <i class="fa fa-sign-in"></i> Connexion
    </a>
    <img src="assets/img/uk_flag.png" routerLink="/en">
  </div>
</div>
