/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
}


.navbar a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1em;
  background-color: #999;
  padding: 0.5em 1em;

  margin-right: 1%;
  border-radius: 2px;
}

.navbar a:hover {
  background-color: rgb(182, 182, 182);
}

.navbar a:active {
  color: rgb(114, 114, 114);
}

img {
  height: 2em;
  float: right;
  margin-right: 1%;
  margin-top: 0.1em;
}

.navbar .right {
  float: right;
}
