<div class="clearfix">

  <div class="left">
    <h2>Explication</h2>
    <p>texte explicant quelles sont les données et ce que l'on souhaite en faire </p>
  </div>
  <div class="right">

    <div>
      <h2>Fichier : </h2>
      <select [(ngModel)]="selectedOption" name="first" (change)="getData()">
        <option *ngFor="let data of data" value={{data.id}}>{{data.name}}</option>
      </select>
     <!-- <button type="button" (click)="addFile()">Ajouter un nouveau fichier</button>
      <button type="button" (click)="addFile()">Ajouter un nouveau dossier</button>-->
    </div>

    <div *ngIf="addfile">
      <fieldset>
        <input type="file" onmousedown="return false" onkeydown="return false" class="inputFile" onchange="document.getElementById('input_text_file').value = this.value" />
      </fieldset>
    </div>

    <br />

    <div>
      <h3>Affichage :</h3>
      <select [(ngModel)]="selectedGraphType" (change)="getData()">
        <option *ngFor="let type of dataToSelect[selectedOption-1].type">{{type}}</option>
      </select>
      <canvas id="myChart"></canvas>
     <!-- <button type="button" (click)="addGraph()">Ajouter une autre source de données</button>-->

    </div>

    <br />
    <!--
    <div *ngIf=addgraph>
      <h3>Affichage : </h3>
      <select [(ngModel)]="selectedGraphType2" (change)="getData2()">
        <option *ngFor="let type of data[selectedOption-1].type">{{type}}</option>
      </select>
      <canvas id="myChart2"></canvas>

    </div>
  -->
  </div>
</div>

<app-learning [id]=selectedOption-1></app-learning>