<div class="clearfix">
  <div class="left" >
    <h2>Explication</h2>
    <p>texte explicant quelles sont les données et ce que l'on souhaite en faire</p>
  </div>
  <div class="right">
    <div>
      <h2>Fichier : </h2>
      <select [(ngModel)]="selectedOption" name="first">
        <option *ngFor="let data of data" value={{data.id}} >{{data.name}}</option>
      </select>      
      <button type="button" (click)="Addfile()">Ajouter un nouveau fichier</button>
      <button type="button" (click)="Addfile()">Ajouter un nouveau dossier</button>

    </div>
    <div *ngIf="addfile"> 
      <fieldset>
            <input type="file" onmousedown="return false" onkeydown="return false" class="inputFile" onchange="document.getElementById('input_text_file').value = this.value" />
    </fieldset>
    </div>
    <br />
    <div>
      <h3>Affichage :</h3>
      <select>
        <option *ngFor="let type of data[selectedOption].type">{{type}}</option>
      </select>
      <div class="graph"><img src="assets/courbetest.png" ></div>
      <button type="button" (click)="Addgraph()">Ajouter une autre source de données</button>

    </div>
    <br />
    <div *ngIf="addGraph">
      <h3>Affichage : </h3>
      <select [(ngModel)]="selectedDevice">
        <option value="timeseries1">timeseries1</option>
        <option value="knockout">knockout</option>
      </select>
      {{selectedDevice}}
      <div class="graph"><img src="assets/courbetest.png" ></div>

    </div>
  </div>
