<div class="clearfix">

  <div class="left">
    <h2>Explication</h2>
    <p>texte explicant quelles sont les données et ce que l'on souhaite en faire </p>
  </div>
  <div class="right">
    <div>
      <h2>Fichier : </h2>
      <select [(ngModel)]="selectedOption" name="first" (change)="getData();getData2()">
        <option *ngFor="let data of data" value={{data.id}}>{{data.name}}</option>
      </select>
      <!-- <button type="button" (click)="addFile()">Ajouter un nouveau fichier</button>
      <button type="button" (click)="addFile()">Ajouter un nouveau dossier</button>-->
    </div>

    <div *ngIf="addfile">
      <fieldset>
        <input type="file" onmousedown="return false" onkeydown="return false" class="inputFile" onchange="document.getElementById('input_text_file').value = this.value" />
      </fieldset>
    </div>

    <br />

      <h3>Affichage : Timeseries</h3>
    <button (click)="straightLine()">droite</button>
    <button (click)="curveLine()">courbe</button>
    <button (click)="dots()">Nuage de points</button>
      <canvas id="myChart" (click)="changeValueGraph()"></canvas>


    <br />
    <h3>Affichage : </h3>
    <select [(ngModel)]="selectedGraphType2" (change)="getData2()">
      <option *ngFor="let type of dataToSelect[selectedOption-1].type">{{type}}</option>
    </select>
    <select [(ngModel)]="idofdata" (change)="getData2()">
      <option *ngFor="let number of listData2">G{{number}}</option>
    </select> 
    <div>
      <canvas id="myChart2"></canvas>
    </div>
  </div>
</div>

<app-learning [id]=selectedOption-1 [dataChange]="displayData"></app-learning>