.left{
    height:500px;
    width:25%;
    float:left;
    background-color: #b2d3e6;
    font-family: 'Montserrat';
    font-weight: Lighter;
    font-size: 20px;
    text-align: justify;
    padding-left:1%;
    padding-right: 1%;}
.right{
    width:70%;
    float:right;
    font-family:'Montserrat';

}
h2{
    font-family: 'Montserrat';
    font-size:30px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
