<div class="clearfix">
    <div class="left">
        <h2>5. Modèle réel appris</h2>
        <p>Cette section te permet de visualiser les différents résultats que nous avons du calculer pour permettre l'affichage</p>
        <p>du graphe d'interaction et des prédictions de perturbation : </p>
        <p>La matrice correspond aux interactions entre les différents gènes, en cliquant sur le bouton on peut voir la matrice que l'on aurait du obtenir</p>
        <p>accompagnée du score que nous avons eu pour cette prédiction.</p>
        
      </div>
      <div class = "right">
        <h2>Modele Réel</h2>
      </div>
    </div>
