<div class='center'>

  <h1>Mon compte</h1>

  <div class='center-left'>
    <p><em>Pseudo:</em> {{_pseudo}}</p>
    <p><em>email:</em> {{_email}}</p>
  </div>
  <br />
  <button [ngClass]="_changeInfo ? 'selected' : ''" (click)="onClick('info')">Modifier informations</button>
  <button [ngClass]="_changePassword ? 'selected' : ''" (click)="onClick('password')">Modifier mot de passe</button>

  <br />
  <button (click)="onClick('deleteAccount')">Supprimer votre compte</button>

  <div *ngIf=" _deleteAccount===true">
    <div id="left block" class="center-left">
      <p>Mot de passe:</p>
    </div>

    <div id="right block" class="center-left">
      <p><input #deleteAccountPassword type="password" /></p>
    </div>

    <br />
    <button (click)="deleteAccount(deleteAccountPassword.value)">
      Valider la suppression de compte
    </button>

  </div>


  <div *ngIf=" _changeInfo==true">

    <div id="left block" class="center-left">
      <p>Nouveau pseudo:</p>
      <p>Nouveau email:</p>
      <p>Mot de passe:</p>
      <button (click)="newInfo(newPseudo.value,newemail.value,password.value)">
        Enregistrer
      </button>
    </div>

    <div id="right block" class="center-left">
      <p><input #newPseudo /></p>
      <p><input #newemail /></p>
      <p><input #password type="password" /></p>
    </div>
  </div>

  <div *ngIf="_changePassword==true">

    <div id="left block" class="center-left">
      <p>Ancien mot de passe:</p>
      <p>Nouveau mot de passe:</p>
      <p>confirmer le mot de passe:</p>
      <button (click)="newPassword(oldPassword.value,newPassword.value,confirmPassword.value)">
        Enregistrer
      </button>
    </div>

    <div id="right block" class="center-left">
      <p><input #oldPassword type="password" /></p>
      <p><input #newPassword type="password" /></p>
      <p><Input #confirmPassword type="password" /></p>
    </div>

  </div>
</div>
