h1 {
  list-style-type: none;
  clear: both;
}

.center {
  list-style-type: none;
  text-align: center;
}

.center .center-left {
  vertical-align: top;
  display: inline-block;
  text-align: left;
  margin: 1%;
}


button {
  display: inline-block;
  border: none;
  padding: 5px 10px;
  margin: 1%;
  background-color: #ddd;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #999;
}

button:active {
  color: rgb(114, 114, 114);
}

button.selected {
  background-color: rgb(80, 80, 80);
  color: rgb(255, 255, 255)
}

em {
  font-style: normal;
  font-weight: bold;
}

.invalid-feedback,
.alert {
  color: rgb(172, 0, 0);
  font-style: italic;
}

.is-invalid {
  background-color: rgb(250, 179, 179);
}

.validation {
  color: rgb(49, 172, 0);
  font-style: italic;
  font-weight: bold;
}
