<h1> Données importées:</h1>

<div class='center'>

  <div class="center-left">
    <span *ngFor="let data of _currentUserData">
      <p>
        <button class='delete' *ngIf="_delete === true" title="delete data" (click)="delete(data)">x</button>
        {{data}}
      </p>
    </span>
  </div>
  <br />
  <br />

  <button [ngClass]="_import ? 'selected' : ''" (click)="importData()">Importer des données</button>
  <button [ngClass]="_delete ? 'selected' : ''" (click)="allowDelete()">Supprimer des données</button>
  <div *ngIf="_import===true">
    <br />
    <input type="file" onmousedown="return false" onkeydown="return false" class="inputFile" onchange="document.getElementById('input_text_file').value = this.value" />
  </div>
</div>
