<div class="clearfix">
  <div class="left" id="graph">
    <h2>graphe d'interaction</h2>
  </div>
  <div class="right">
    <h2>4. Prédiction du réseau d'interaction</h2>
    <p>Suite à l'apprentissage, le modèle a determiné les influences entre les gènes.</p>
    <p>Ces influences sont représentées par un graphe d'interaction.</p>
    <p>Chaque liaison entre 2 gène correspond à un lien. Si tu double-cliques, tu pourras mettre en valeur tous les liens d'un gène.</p>
    <p>La différence de couleur correspond à l'action du gène: 
      s'il a une action d'inhibition, il sera en rouge et
      s'il a une action d'activation, il sera en vert</p>
    <p>Enfin, lorque tu double-cliques, la différence de couleur marque ici le sens de l'interaction et non l'action du gène</p>
  </div>
</div>
<br/><div class="line"></div><br/>
<button (click)="Modele()">Modèle réel</button>
<div *ngIf=model>
  <app-model></app-model>
</div>
