<div class="clearfix">
  <div class="left" id="graph">
    <h2>graphe d'interaction</h2>
  </div>
  <div class="right">
    <h2>4. Prédiction du réseau d'interaction</h2>
    <p>Suite à l'apprentissage, le modèle a determiné les influences entre les gènes.</p>
    <p>Ces influences sont représentées par un graphe d'interaction.</p>
    <p>Ce graphe est peux exploitable et les résultats restent très douteux à la vue des "méthodes" utilisées.</p>
    <p>Cependant, il est très rigolo à manipuler !!!</p>
  </div>
</div>
<button (click)="Modele()">Modèle réel</button>
<div *ngIf=model>
  <app-model></app-model>
</div>
