<h1>
  Change password:
</h1>

<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

  <div class="center">

    <div class="center-left">
      <p>Password:</p>
      <p>Confirm password:</p>
    </div>

    <div class="center-left">
      <p> <input formControlName="password" [ngClass]="{ 'is-invalid': submitted && form.password.errors }" type=password
          autocomplete="off" /></p>
      <p> <input formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && form.confirmPassword.errors }"
          autocomplete="off" type=password /></p>
    </div><br />

    <button (click)="onSubmit()" type="submit" [disabled]="loading">
      Change password
    </button> <br />

    <div *ngIf="error" class="alert">{{error}}</div> <br />
    <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
      <div *ngIf="form.password.errors.required">Password is required</div>
    </div>
    <div *ngIf="submitted && form.confirmPassword.errors" class="invalid-feedback">
      <div *ngIf="form.confirmPassword.errors.required">Confirm password is required</div>
    </div>
    <div class="invalid-feedback" *ngIf="submitted && resetForm.errors?.doesMatchPassword">Password does not match</div>

  </div>
</form>
