h1 {
  text-align: center;
}

.center {
  text-align: center;
}

.center .center-left {
  vertical-align: top;
  display: inline-block;
  text-align: left;
  margin: 1%;
}

button {
  border: none;
  background-color: #ddd;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  border-radius: 2px;
  padding: 5px 10px;
  margin: 2%;
}

button:hover {
  background-color: #999;
}

button:active {
  color: rgb(114, 114, 114);
}

.invalid-feedback,
.alert {
  color: rgb(172, 0, 0);
  font-style: italic;
}

.is-invalid {
  background-color: rgb(250, 179, 179);
}
