<div class="center">

  <h1>
    Derniers modèles
  </h1>

  <div *ngFor=" let oldQuery of _history">
    <div class="center-left">
      <p>date: <em>{{oldQuery.query_date}} </em>&nbsp;&nbsp; <button (click)="deleteQuery(oldQuery.query_id)">x</button></p>
      <p>tsv: <em>{{oldQuery.tsv}}</em></p>
      <p>model: <em>{{oldQuery.model}}</em></p>
    </div>
    <br />
    <button class="center" title="load model" (click)="loadQuery(oldQuery.query_id )">Charger modèle</button><br />
    <br />
  </div>
</div>
